<div class="home-container">
  <h1>Veja o que estão Compartilhando</h1>
  <div class="search-container">
    <form>
      <fa-icon [icon]="faSearch"></fa-icon>
        <input type="text" placeholder="Ou Busque por um momento..."
        (input)="search($event)">
    </form>
  </div>
  <div *ngIf="moment.length > 0; else noMoments">
    <div class="moments-container">
       <div class="moment" *ngFor="let moment of moment">
        <div class="momentosImg">
          <img
            src="{{ baseApiUrl }}/uploads/{{ moment.image }}"
            alt="{{ moment.title }}"/>
          <h3> {{ moment.title }}</h3>
          <p class="date"> Em: {{ moment.created_at }}</p>
          <p>Comentários: {{ moment.comments!.length }} </p>
          <p><a routerLink="moment/{{ moment.id }}">Detalhes</a></p>
        </div>
       </div>
    </div>
  </div>
  <ng-template #noMoments>
    <h1> Não há Momentos cadastrados </h1>
  </ng-template>
</div>
